.player {

    &__video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
    }

    &__controls {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        opacity: 0.2;
        padding: 1rem;
        transition: opacity 0.4s;
        row-gap: 35px;
    
        &:hover {
            opacity: 1;
        }
    }

    &__controls-up {
        display: flex;
        justify-content: space-between;
    }

    .btn-container {
        margin: 0;
    }

    &__btn {
        background: transparent;
        color: $white;
        font-weight: bolder;
        text-shadow: 2px 1px 2px $black;
        border: none;
        cursor: pointer;
    }

    &__btn-icon {
        font-size: 20px;
    }

    &__timeline {
        flex: 1;
        display: flex;
        align-items: center;
        border: none;
        border-right: 2px solid $grey;
        border-left: 2px solid $grey;
    }

    &__bar {
        background: $red;
        height: 4px;
        flex: 1;
    }

    &__inner {
        background: $grey;
        width: 0%;
        height: 100%;
    }
}
    