@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');


//colors
$black: #000;
$white: #fff;
$yellow: #ffd966;
$grey: #ccc;
$red: #e00;

//fonts
$fascinate: 'Fascinate', cursive;